
extends layout
block content

	include navbar
	include groups-content
	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/common.js')	
	script(src='/js/views/groups.js')	
	script(src='/js/form-validators/accountValidator.js')